* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #232020;
  color: antiquewhite;
}

p {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#application-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#input-container {
  display: flex;
  width: 60%;
}

#list-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  min-height: 500px;
  margin-bottom: 25px;
}

ol {
  width: 75%;
  word-wrap: break-word;
  border-radius: 15px;
  /* border: 1px solid red; */
}

#aside-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#aside-buttons button {
  margin: 5px;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

.btn {
  font-weight: 350;
}

footer {
  position: fixed;
  background-color: #232020;
  display: flex;
  justify-content: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

a:hover {
  color: antiquewhite;
}

@media screen and (max-width: 1000px) {
  #input-container {
    width: 99%;
  }

  #list-container {
    width: 99% ;
  }
}