* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #232020;
  color: antiquewhite;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#application-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#input-container {
  display: flex;
  width: 40%;
}

#list-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  min-height: 500px;
}

/* #ol-container {
  border: solid 1px red;
  display: flex;
  justify-content: center;
  width: 55%;
} */

ol {
  width: 65%;
  word-wrap: break-word;
  border: 1px solid red;
}

#aside-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

.btn {
  font-weight: 350;
}

footer {
  position: fixed;
  background-color: #232020;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}